.input-text{
   
    width: 500px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background-color:aliceblue;
    text-align: center;

/* color:white ; */
}
.button{
    height: 38px;
    border: none;
    width: 75px;
    border-radius: 5px;
  
    
}
.container{
    border-radius: 15px;
    background-color: aqua;
    

}
